@font-face {
  font-family: 'Displace';
  src: url('../fonts/36B13B_0_0.eot');
  src: url('../fonts/36B13B_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/36B13B_0_0.woff2') format('woff2'),
  url('../fonts/36B13B_0_0.woff') format('woff'),
  url('../fonts/36B13B_0_0.ttf') format('truetype');
}

body, p, a, h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Displace', Helvetica, sans-serif !important;
  background-color: #e0b0a4 !important;
}

* {
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #9c563f; 
}

.title {
  color: #9c563f !important;
  font-size: 24px;
  font-family: 'Displace', Helvetica, sans-serif !important;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center !important;
  z-index: 250;  
}

html, body, .container {
    height: 100%;
}

.container {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}


#responsive{
  display: none;
  max-width:100%; /*-- change this to get your desired form width --*/;
  margin:0 auto;
  width:100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 200;  
  pointer-events: none;  
}

.form-row{
  width: 100%;

}
.column-left,
.column-right {
  float: left;
  color: #9c563f;
  position: relative;
  padding: 5% 5%; 
  -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
}

.column-left {
  font-size: 27px; 
  width: 63%;
}

.column-right {  
  width: 30%;
}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.text_link a {
  text-decoration: underline !important;
  pointer-events: auto;  
}

.text_link a,
.text_highlight {
 font-family: 'Displace', Helvetica, sans-serif !important;
}

.menu .close-link,
.text .text_description {
  display: none;
}

.menu .menu_item {
  border-bottom: 2px solid;
  font-size: 18px;
  font-family: 'Displace', Helvetica, sans-serif !important;
  color: #9c563f; 
  position: fixed;
  padding-bottom: 2px;
  z-index: 250;  
}

.menu .menu_item a {
  color: #9c563f;
  font-family: 'Displace', Helvetica, sans-serif !important;
  text-decoration: none;
}

.menu .about-link,
.menu .close-link {
  cursor: pointer;
  top: 30px;
  left: 30px;

}

.menu .email-link {
  top: 30px;
  right: 30px;
}

.menu .twitter-link {
  bottom: 30px;
  left: 30px;
}

.menu .twitter-link-mob {
  top: 30px;
  right: 30px;
  display: none;
}

.menu .instagram-link {
  bottom: 30px;
  right: 30px;
}

.background {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #e0b0a4 !important;
}


.title {
  pointer-events: none;
}

.menu .menu_item {
  pointer-events: auto; 
}

.right_title{
font-family: 'Displace', Helvetica, sans-serif
}

.right_link a{
text-decoration: underline;
pointer-events: auto;  
}

.right_link, 
.right_title {
  font-size: 18px; 
  }
