
    
/*** Responsive Styles Large Desktop Only ***/
@media all and (min-width: 1681px) and (max-width: 1920px) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 20px !important; }
	.text .text_description { font-size: 34px !important; }
	.menu .menu_item { font-size: 16px !important; }	
#responsive{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;			
}
#responsiversvp{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;		
}
}

@media all and (min-width: 1441px) and (max-width: 1680px) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 20px !important; }
	.text .text_description { font-size: 32px !important; }
	.menu .menu_item { font-size: 16px !important; }
#responsive{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;			
}
#responsiversvp{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;		
}
}	

@media all and (min-width: 1367px) and (max-width: 1440px) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 20px !important; }
	.text .text_description { font-size: 30px !important; }
	.menu .menu_item { font-size: 16px !important; }
#responsive{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;			
}
#responsiversvp{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;		
}
}

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 980px) and (max-width: 1366px) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 20px !important; }
	.text .text_description { font-size: 28px; }
	.menu .menu_item { font-size: 16px; } 


#responsive{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;			
}
#responsiversvp{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;		
}
}
 
/*** Responsive Styles Tablet And Below **	*/
@media all and (max-width: 980px) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 20px !important; }
	.text .text_description { font-size: 26px; }
	.menu .menu_item { font-size: 16px; } 

#responsive{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;			
}
#responsiversvp{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;		
}
}
 
@media all and (min-width: 768px) and (max-width: 980px) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 20px !important; }
	.text .text_description { font-size: 24px; }
	.menu .menu_item { font-size: 16px; }  

	.menu .twitter-link-mob  { display: none; }

	.column-left {
		font-size: 28px !important;
	}

	.right_link, 
	.right_title {
		font-size: 16px !important; 
	}
#responsive{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;			
}
#responsiversvp{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    position: relative;
    z-index: 200;
    pointer-events: none;
    margin-top: 40px;		
}
}
 
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 16px !important; }
	.text .text_description { font-size: 22px; width: auto; }
	.menu .menu_item { font-size: 16px; }  

	.menu .about-link, .menu .close-link { cursor: pointer; top: 15px; left: 15px; }
	.menu .rsvp-link, .menu .rsvpclose-link {cursor: pointer;top: 15px;right: 15px;}
	.menu .email-link { top: 15px; right: 15px; }						
	.menu .twitter-link { bottom: 15px; left: 15px;}					
	.menu .instagram-link { bottom:	 15px; right: 15px; }
	.menu .twitter-link-mob { display: none; }	

	.column-left, .column-right { width: 100%; }	
	.column-left {  font-size: 20px; }
	.column-right {  font-size: 16px; }

	.right_link, 
	.right_title {
		font-size: 16px !important; 
	}
	#responsive{
		transform: unset;
		position: relative;	
		z-index: 249;
		pointer-events: auto;
		background: rgba(0,0,0,0);			
	}
	#responsiversvp{
		transform: unset;
		position: relative;	
		z-index: 249;
		pointer-events: auto;
		background: rgba(0,0,0,0);			
	}


}
 
@media (max-width: 567px) and (min-width: 321px) {
	.title { font-size: 30px !important; line-height: 90px;}
	.subtitle { font-size: 16px !important; }
	.text .text_description { font-size: 16px !important; width: auto; }
	.menu .menu_item { font-size: 16px !important; }  

	.menu .about-link, .menu .close-link { cursor: pointer; top: 15px; left: 15px; }
	.menu .rsvp-link, .menu .rsvpclose-link { cursor: pointer; top: 15px; right: 60px; }
	.menu .email-link { top: 15px; right: 60px; }
	.menu .twitter-link { display: none; }
	.menu .twitter-link-mob { display: block; top: 15px; right: 15px; }	
	.menu .instagram-link { display: none; }	
}

@media all and (max-width: 320px) {
	.title { font-size: 30px !important; line-height: 90px;}
	.subtitle { font-size: 16px !important; }
	.text .text_description { font-size: 13px !important; width: auto; }
	.menu .menu_item { font-size: 13px !important; }  

	.menu .about-link, .menu .close-link { cursor: pointer; top: 15px; left: 15px; }
	.menu .rsvp-link, .menu .rsvpclose-link { cursor: pointer; top: 15px; right: 50px; }
	.menu .email-link { top: 15px; right: 50px; }
	.menu .twitter-link { display: none; }
	.menu .instagram-link { display: none; }	
}

@media all and (max-width: 767px)  and (orientation:landscape) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 16px !important; }
	.text .text_description { font-size: 15px; width: auto; }
	.menu .menu_item { font-size: 15px; }  

	.menu .about-link, .menu .close-link { cursor: pointer; top: 15px; left: 15px; }
	.menu .rsvp-link, .menu .rsvpclose-link { cursor: pointer; top: 15px; right: 15px; }
	.menu .email-link { top: 15px; right: 15px; }
	.menu .twitter-link { bottom: 15px; left: 15px; }
	.menu .instagram-link { bottom: 15px; right: 15px; }	
}

@media all and (min-width: 321px) and (max-width: 567px) and (orientation:landscape) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 16px !important; }
	.text .text_description { font-size: 12px !important; width: auto; }
	.menu .menu_item { font-size: 12px !important; }  

	.menu .about-link, .menu .close-link { cursor: pointer; top: 15px; left: 15px; }
	.menu .rsvp-link, .menu .rsvpclose-link { cursor: pointer; top: 15px; right: 50px; }
	.menu .email-link { top: 15px; right: 15px; }
	.menu .twitter-link { bottom: 15px; left: 15px; }
	.menu .instagram-link { bottom: 15px; right: 15px; }	
}

@media all and (max-width: 320px) and (orientation:landscape) {
	.title { font-size: 30px !important; }
	.subtitle { font-size: 16px !important; }
	.text .text_description { font-size: 12px !important; width: auto; }
	.menu .menu_item { font-size: 12px !important; }  

	.menu .about-link, .menu .close-link { cursor: pointer; top: 15px; left: 15px; }
	.menu .rsvp-link, .menu .rsvpclose-link { cursor: pointer; top: 15px; right: 15px; }
	.menu .email-link { top: 15px; right: 15px; }
	.menu .twitter-link { bottom: 15px; left: 15px; }
	.menu .instagram-link { bottom: 15px; right: 15px; }
}
